<p><span style="font-size:48px"><span style="color:#001253"><span style="font-family:Trebuchet MS,Helvetica,sans-serif"><strong>Box2Home</strong></span></span></span><br />
&nbsp;</p>

<p><span style="font-size:16px"><span style="color:#000000"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">Bonjour {{name}},</span></span></span></p>

<p><span style="font-size:16px"><span style="color:#000000"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">Vous avez récemment demandé à réinitialiser le mot de passe de votre compte. Cliquez sur le lien ci-dessous pour continuer.</span></span></span></p>

<p><span style="font-size:16px"><a href="http://localhost:3000/reset-password?token={{token}}"><span style="color:#0066ff">Réinitialiser votre mot de passe</span></a></span></p>

<p><span style="font-size:16px"><span style="color:#000000"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">Si vous n'avez pas demandé la réinitialisation de votre mot de passe, veuillez ignorer cet e-mail. Le lien est valable pendant 10 minutes seulement.</span></span></span></p>

<p><span style="font-size:16px"><span style="color:#000000"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">Merci, Box2Home.</span></span></span></p>
